/*--------------------------------------------------------------
# 404 Page
--------------------------------------------------------------*/

.error404 {
  ul {
    padding: 0;
    li {
      list-style: none;
      text-align: left;
      padding: 0;
      a {
        text-decoration: none;
        color: $color_link;
      }
    }
 
  }
  p {
    font-family: $font_main;
  }
  select {
    font-family: $font_main;
  }
}
