/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
  display: block;
}

.hentry {
  margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
  display: none;
}

.single .byline,
.group-blog .byline {
  display: inline;
}

.page-content,
.entry-content,
.entry-summary {
  margin: $base__space-unit 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* Comments */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
  display: block;
}

.post-template-default {
  .site-content {
    display: flex;
    width: 1120px;
    margin: auto;
    .content-area {
      padding: 4%;
      border-right: 1px solid #e1e1e1;
    }
    .widget-area {
      padding: 4%;
    }
  }
  .entry-header {
    position: relative;
    img {
      width: 100%;
    }
  }
  h1 {
    top: 4%;
    position: absolute;
    padding: 0.5em;
    background: $color_link;
    color: $color_font;
  }
  .entry-meta {
 position: absolute;
    right: 0;
    bottom: 7px;
    background: $color_link;
    color: $color_font;
  }
}
