.site-header {
  position: absolute;
  width: 100%;
  .nav-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    .site-branding {
      .site-logo {
        width: 40%;
        margin-top: 1em;
      }
    }
  }
}
.main-navigation {
  font-family: '',sans-serif;
  display: flex;
  justify-content: flex-end;
  div {
    ul {
      li {
        padding-left: 1.5rem;
        a {
          text-transform: uppercase;
          color: #fff;
        }
      }
    }
  }
}
