/* Journal Post */
.blog {
  .site-content {
    display: flex;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    .site-main {
      width: 65%;
      border-right: 1px solid #e1e1e1;
      padding: 5%;
    }
    .widget-area {
      width: 35%;
      border-left: 1px solid #e1e1e1;
      padding: 5%;
    }
  }
  .journal-thumbnail {
    position: relative;
    img {
      width: 100%;
    }
    .entry-title {
      position: absolute;
      max-width: 70%;
      background-color: #248a83;
      color: white;
      top: 2%;
      left: 0;
      padding: 2%;
      font-size: 30px;
      a {
        text-decoration: none;
        color: white;
      }
    }
    .entry-meta {
      position: absolute;
      background-color: #248a83;
      bottom: 2%;
      right: 0;
      color: white;
    }
  }
  .read-more-btn{
       padding-top: 1.8%;
        padding-bottom: 1.8%;
        padding-left: 5%;
        padding-right: 5%;
        border: solid 1px black;
        text-decoration: none;
        color:black;
        font-family: 'Novecento Sans Web', sans-serif;
        font-size: 16px;
        margin-top: 1em;
        margin-bottom: 100px;

  }
  .entry-content{
  margin-bottom: 0;
  p{
    margin-bottom: 5%;

  }
}
.journal-section{
  margin-bottom: 5%;
}
  }




