.single-product-container {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 1120px;
  margin: auto;
  .image-container {
    width: 50%;
    img {
      max-width: 100%;
    }
  }
  .entry-content {
    width: 50%;
    margin-left: 5%;
    .entry-title {
      color: $color_product-h1;
      margin: 0;
      .price {
        font-family: 'Novecento Sans Web', sans-serif;
      }
    }
    .social-media {
      p {
        span {
          padding-top: 1.8%;
          padding-bottom: 1.8%;
          padding-left: 5%;
          padding-right: 5%;
          border: solid 1px black;
          a {
            text-transform: uppercase;
            font-family: 'Novecento Sans Web', sans-serif;
            color: black;
            font-size: 16px;

            i {
              margin-right: 2%;
            }
          }
        }
      }
    }
  }
}
