.single-product-container {
  padding:3%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 1120px;
  margin: auto;
  .image-container {
        max-width: 50%;
       height: 400px;
    img {
         height:100%;
      object-fit: cover;
    }
  }
  .entry-content {
    max-height: 100%;
    width: 50%;
    margin-left: 5%;
    .entry-title {
      color: $color_product-h1;
      margin: 0;
    }
    .price{
        font-family: 'Novecento Sans Web', sans-serif;
        font-size: 30px;
        margin: 0;
    }
    p{
      margin: 0;
    }
  
  }
}
  .social-media {
        span {
          padding-top: 1.8%;
          padding-bottom: 1.8%;
          padding-left: 5%;
          padding-right: 5%;
          border: solid 1px black;
          a {
            text-transform: uppercase;
            font-family: 'Novecento Sans Web', sans-serif;
            color: black;
            font-size: 16px;
            i {
              margin-right: 2%;
            }
          }
        }
    }






/* Single Post */
.single-post{
.entry-footer{
  background: transparent;
  display: inline-block;
  .cat-links{
margin-right: 50px;
text-transform: uppercase;
  }
  .tags-links{
    text-transform: uppercase;
  }
}
a{
  font-size: 16px;
  text-decoration: none;
}
}